.fundo {
    background-color: #fdfdfd;
    height: 100vh;
    box-sizing: border-box;
}

.header {
    box-sizing: border-box;
}

.body {
    background-color: white;
    box-sizing: border-box;
}



footer {
    box-sizing: border-box;
}